<!DOCTYPE html>
<html lang="en">
<head>

<!-- Fav Icon -->
<link rel="icon" href="~/assets/images/favicon.ico" type="image/x-icon">

<!-- Google Fonts -->
<link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">

<!-- Stylesheets -->
<link href="~/assets/css/font-awesome-all.css" rel="stylesheet">
<link href="~/assets/css/flaticon.css" rel="stylesheet">
<link href="~/assets/css/owl.css" rel="stylesheet">
<link href="~/assets/css/bootstrap.css" rel="stylesheet">
<link href="~/assets/css/jquery.fancybox.min.css" rel="stylesheet">
<link href="~/assets/css/animate.css" rel="stylesheet">
<link href="~/assets/css/color.css" rel="stylesheet">
<link href="~/assets/css/global.css" rel="stylesheet">
<link href="~/assets/css/style.css" rel="stylesheet">
<link href="~/assets/css/responsive.css" rel="stylesheet">

</head>


<!-- page wrapper -->
<body>

    <div class="boxed_wrapper">


      
        <!--Page Title-->
        <section class="page-title centred" style="background-image:url(/assets/images/background/page-title.jpg);">
            <div class="auto-container">
                <div class="content-box">
                    <div class="title">
                        <h1>About Us</h1>
                    </div>
                </div>
            </div>
        </section>
        <!--End Page Title-->

         <!-- team-details -->
        <section class="team-details">
            <div class="auto-container">
                <div class="row clearfix">
                    <div class="col-lg-6 col-md-12 col-sm-12 image-column">
                        <figure class="image-box"><img src="assets/images/small Icon.jpg" alt=""></figure>
                    </div>
                    <div class="col-lg-6 col-md-12 col-sm-12 content-column">
                        <div class="team-details-content ml-70">
                            <div class="upper-box">
                                <h2>Dr.Shaima</h2>
                                <span class="designation">Senior Therapist</span>
                                
                            </div>
                            <div class="text">
                                <p>Lorem ipsum dolor sit amet, con elit tiam convallis elit id impedie. Quisq simply free ornare tortor. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                            </div>
                            <div class="progress-inner">
                                <div class="progress-box">
                                    <h5>Physiotherapy</h5>
                                    <div class="bar">
                                        <div class="bar-inner count-bar" data-percent="93%"></div>
                                        <div class="count-text">93%</div>
                                    </div>
                                </div>
                                <div class="progress-box">
                                    <h5>Chiropratic</h5>
                                    <div class="bar">
                                        <div class="bar-inner count-bar" data-percent="86%"></div>
                                        <div class="count-text">86%</div>
                                    </div>
                                </div>
                                <div class="progress-box">
                                    <h5>Massage</h5>
                                    <div class="bar">
                                        <div class="bar-inner count-bar" data-percent="74%"></div>
                                        <div class="count-text">74%</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- team-details end -->




        <!-- about-style-three -->
        <section class="about-style-three">
            <div class="auto-container">
                <div class="row clearfix">
                    <div class="col-lg-6 col-md-12 col-sm-12 image-column">
                        <div class="image-box">
                            <div class="row clearfix">
                                <div class="col-lg-6 col-md-6 col-sm-12 column">
                                    <figure class="image mb-30"><img src="~/assets/images/resource/about-3.jpg" alt=""></figure>
                                    <figure class="image"><img src="~/assets/images/resource/about-4.jpg" alt=""></figure>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-12 column">
                                    <figure class="image"><img style="padding-top:170px" src="~/assets/images/gallery/gallery-3.jpg" alt=""></figure>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12 col-sm-12 content-column">
                        <div id="content_block_8">
                            <div class="content-box ml-70">
                                <div class="sec-title">
                                    <p>Get to know us</p>
                                    <h2>We're a Recognized & Quality Leader in Physiotherapy</h2>
                                </div>
                                <div class="text">
                                    <p>There are many variations of passages of available but the majority have suffered alteration in some form, by injected humou or words even slightly believable.</p>
                                </div>
                                <div class="inner-box clearfix">
                                    <div class="single-item">
                                        <h5>Magnis Dis Nascet</h5>
                                        <p>Lorem ipsum is free do sit</p>
                                    </div>
                                    <div class="single-item">
                                        <h5>Libero id Ege</h5>
                                        <p>Lorem ipsum is free do sit</p>
                                    </div>
                                </div>
                                <div class="author-box">
                                    <figure class="author-thumb"><img src="~/assets/images/resource/author-1.png" alt=""></figure>
                                    <figure class="signature"><img style="height:70px" src="~/assets/images/resource/Shaima Sign.png" alt=""></figure>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- about-style-three end -->
        
        <!-- certificates-section -->
        <section class="certificates-section bg-color-4">
            <div class="auto-container">
                <div class="row clearfix">
                    <div class="col-lg-4 col-md-12 col-sm-12 text-column">
                        <div class="text">
                            <h2>Certificates & Education</h2>
                            <p>Lorem ipsum dolor sit amet, con adipiscing elit tiam convallis elit id impedie. Quisq commodo simply free ornare tortor.</p>
                        </div>
                    </div>
                    <div class="col-lg-8 col-md-12 col-sm-12 certificates-column">
                        <div class="certificates-inner ml-50">
                            <div class="row clearfix">
                                <div class="col-lg-4 col-md-6 col-sm-12 image-column">
                                    <figure class="image-box"><img src="assets/images/resource/certificates-1.jpg" alt=""></figure>
                                </div>
                                <div class="col-lg-4 col-md-6 col-sm-12 image-column">
                                    <figure class="image-box"><img src="assets/images/resource/certificates-2.jpg" alt=""></figure>
                                </div>
                                <div class="col-lg-4 col-md-6 col-sm-12 image-column">
                                    <figure class="image-box"><img src="assets/images/resource/certificates-3.jpg" alt=""></figure>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- certificates-section end -->


        <!-- startup-section -->
        <section class="startup-section alternat-2" style="background-image:url(/assets/images/background/startup-1.jpg);">
            <div class="auto-container">
                <div id="content_block_3">
                    <div class="content-box">
                        <div class="single-box">
                            <div class="row clearfix">
                                <div class="col-lg-6 col-md-6 col-sm-12 single-column">
                                    <div class="inner mr-20">
                                        <div class="icon-box"><i class="fas fa-check"></i></div>
                                        <h4><a href="index.html">No Charges for Consultation</a></h4>
                                        <p>Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem is simply free text quis bibendum.</p>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-12 single-column">
                                    <div class="inner mr-20">
                                        <div class="icon-box"><i class="fas fa-check"></i></div>
                                        <h4><a href="index.html">Quality Equipment & Tools</a></h4>
                                        <p>Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem is simply free text quis bibendum.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- startup-section end -->


       


       


       

        <!-- cta-section -->
        <section class="cta-section bg-color-2">
            <div class="auto-container">
                <div class="inner-box clearfix">
                    <div class="text pull-left">
                        <h2>Choose the best physio therapy for youself</h2>
                    </div>
                    <div class="btn-box pull-right">
                        <a href="index.html" class="theme-btn-one">Book Appointment</a>
                    </div>
                </div>
            </div>
        </section>
        <!-- cta-section end -->


       
    </div>


    <!-- jequery plugins -->
    <script src="~/assets/js/jquery.js"></script>
    <script src="~/assets/js/popper.min.js"></script>
    <script src="~/assets/js/bootstrap.min.js"></script>
    <script src="~/assets/js/owl.js"></script>
    <script src="~/assets/js/wow.js"></script>
    <script src="~/assets/js/validation.js"></script>
    <script src="~/assets/js/jquery.fancybox.js"></script>
    <script src="~/assets/js/appear.js"></script>
    <script src="~/assets/js/scrollbar.js"></script>
    <script src="~/assets/js/nav-tool.js"></script>
    <script src="~/~/assets/js/nav-tool.js"></script>
   
</body><!-- End of .page_wrapper -->
</html>
